/* Error: Undefined mixin.
 *    ,
 * 20 | /   @include media-breakpoint-up(sm)
 * 21 | |     &__pics
 * 22 | |       text-align: center
 * 23 | | 
 * 24 | |     &__pics-pic
 * 25 | |       width: 50%
 * 26 | |       height: 250px
 * 27 | |       object-fit: cover
 * 28 | |       &:last-child
 * 29 | |         width: 100%
 * 30 | |         margin: 0
 * 31 | | 
 * 32 | |     &__pics-pic + &__pics-pic
 * 33 | \       margin-top: 0
 *    '
 *   room-details.sass 20:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 20 \2502  \250c    @include media-breakpoint-up(sm)\a 21 \2502  \2502      &__pics\a 22 \2502  \2502        text-align: center\a 23 \2502  \2502  \a 24 \2502  \2502      &__pics-pic\a 25 \2502  \2502        width: 50%\a 26 \2502  \2502        height: 250px\a 27 \2502  \2502        object-fit: cover\a 28 \2502  \2502        &:last-child\a 29 \2502  \2502          width: 100%\a 30 \2502  \2502          margin: 0\a 31 \2502  \2502  \a 32 \2502  \2502      &__pics-pic + &__pics-pic\a 33 \2502  \2514        margin-top: 0\a    \2575 \a   room-details.sass 20:3  root stylesheet";
}
