/* Error: The target selector was not found.
 * Use "@extend %mainSizeFont !optional" to avoid this error.
 *    ,
 * 15 |     @extend %mainSizeFont
 *    |     ^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   main.sass 15:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The target selector was not found.\aUse "@extend %mainSizeFont !optional" to avoid this error.\a    \2577 \a 15 \2502      @extend %mainSizeFont\d\a    \2502      ^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   main.sass 15:5  root stylesheet';
}
