extends ../page-template

include ../../components/header/header
include ../../components/footer/footer

include ../../components/forms/reg-acc-card/reg-acc-card


block variables
    -
        var title = 'Гланая страница',
            description = 'Главная'


block main
    .l-main__form
        +regAccCard()