include ../../baseComponents

mixin rangeSlider()
    .range-slider
        label.title-label.title-label--hi диапазон цены
        span.range-slider__info.js-range-slider__info info
        input.js-range-slider.visually-hidden
        span.range-slider__desc Стоимость за сутки пребывания в номере
