
//== foundational variables ==//
$black: hsl(0, 0%, 4%) !default;
$white: hsl(0, 0%, 100%) !default;
$light: hsl(0, 0%, 96%) !default; // white-ter
$dark: hsl(0, 0%, 21%) !default;  // grey-darker
$link: hsl(217, 71%, 53%) !default; // blue

$grey-dark: lighten($black, 25%) !default;
$grey-light: darken($light, 25%) !default;
$grey-lighter: darken($light, 10%) !default;

//== datepicker variables ==//
$dp-background-color: $white !default;
$dp-border-color: $grey-lighter !default;
$dp-border-radius: 4px !default;
$dp-border-radius-small: 2px !default;
$dp-line-height-base: 1.5 !default;
$dp-font-size-normal: 1rem !default;
$dp-font-size-small: 0.75rem !default;
$dp-font-weight-semibold: 600 !default;
$dp-font-weight-bold: 700 !default;
$dp-dropdown-offset: 4px !default;
$dp-dropdown-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1) !default;
$dp-dropdown-z: 20 !default;

$dp-title-background-color: $light !default;

$dp-cell-size-base: 40px !default;
$dp-cell-focus-background-color: darken($light, 5%) !default;
$dp-cell-prevnext-color: hsl(0, 0%, 48%) !default; // grey
$dp-cell-disabled-color: $grey-lighter !default;
$dp-cell-selected-background-color: $Purple !default;
$dp-cell-selected-color: #fff !default; // link(blue)-invert
$dp-cell-selected-font-weight: 700 !default;
$dp-cell-today-background-color: $Green !default;  // turquoise (primary)
$dp-cell-today-color: #fff !default;  // turquoise-invert
$dp-cell-highlighted-background-color: $light !default;
$dp-range-start-end-background-color: $Purple !default;
$dp-range-start-end-color: $dp-cell-selected-color !default;
$dp-range-background-color: lighten($Purple , 15%) !default;
$dp-range-today-background-color: $dp-cell-today-background-color !default;
$dp-week-color: $light !default;

$dp-footer-background-color: $light !default;

$dp-input-in-edit-border-color: darken($link, 5%) !default;
$dp-input-in-edit-focus-box-shadow-size: 0 0 0.25em 0.25em !default;

//== non-configurable variables ==//
$dp-cell-shrink-threshold: $dp-cell-size-base * 10;  // = 8 * 1.25
$dp-cell-shrinked-width: $dp-cell-size-base * 7 / 8;

//== mixins ==//
@import 'mixins';

//== styles ==//
.datepicker {
  display: none;

  &.active {
    display: block;
  }
}

.datepicker-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $dp-dropdown-z;
  padding-top: $dp-dropdown-offset;

  &.datepicker-orient-top {
    padding-top: 10px;
    padding-bottom: $dp-dropdown-offset;
  }
}

.datepicker-picker {
  display: inline-block;
  background-color: white;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  padding: 20px;
  max-width: 320px;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border: 0;
    border-radius: 50%;
    cursor: default;
    text-align: center;
    -webkit-touch-callout: none;
    user-select: none;
    font-size: 12px;
    color: $DarkShade-50;
    width: 40px;
    height: 40px;

  }
}


.datepicker-footer {

}

%flex-container {
  display: flex;
}

%flex-wrap {
  flex-wrap: wrap;
}

%flex-basis-day {
  flex-basis: percentage(1 / 7);
}

%flex-basis-month-year {
  flex-basis: 25%;
}

%datepicker-cell-height {
  height: $dp-cell-size-base;
  line-height: $dp-cell-size-base;
}

.datepicker-controls {
  @extend %flex-container;
  align-items: center;
  justify-content: space-between;

    .button {
      &.clear-btn {
        @extend %labelSizeFont;
        position: relative;
        border: none;
        cursor: pointer;
        padding: 0;
        background: none;
        color: $Purple;
          &:hover {
            color: $DarkShade-50;
          }
          &:before {
            content: '';
            position: absolute;
            top: -10px;
            right: -10px;
            bottom: -10px;
            left: -10px;
          }
      }

      &:focus,
      &:active {
        outline: none;
      }

      &[disabled] {
        cursor: not-allowed;
      }

      .datepicker-header & {
        margin-bottom: 30px;

        &[disabled] {
          box-shadow: none;
        }
      }
    }
  }

  .view-switch {
    flex: auto;
    @extend %itemTitleSizeFont;
    background: white;
    border: none;
    cursor: pointer;
    &:hover {
      opacity: .8;
    }

  }
  .prev-btn {
    background: url(../../../assets/images/icons/arrow_back.svg) no-repeat center;
  }

  .next-btn {
    background: url(../../../assets/images/icons/arrow_forward.svg) no-repeat center;
  }

  .prev-btn,
  .next-btn {
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    &:hover {
      opacity: .75;
    }

    &.disabled {
      visibility: hidden;
    }
  }


.datepicker-view {
  @extend %flex-container;
  margin-bottom: 20px;

  .days-of-week {
    @extend %flex-container;
  }

  .dow {
    color: $Purple;
    font-weight: 700;
    @extend %flex-basis-day;
  }

  .week {
    @extend %datepicker-cell-height;
    width: $dp-cell-size-base;
    color: $dp-week-color;
    font-size: $dp-font-size-small;

    @media (max-width: $dp-cell-shrink-threshold) {
      width: $dp-cell-shrinked-width;
    }
  }
}

.datepicker-grid {
  @extend %flex-container;
  @extend %flex-wrap;

  width: $dp-cell-size-base * 7;

  @media (max-width: $dp-cell-shrink-threshold) {
    .calendar-weeks + .days & {
      width: $dp-cell-shrinked-width * 7;
    }
  }
}

.datepicker-cell {
  @extend %datepicker-cell-height;
  background-color: transparent;


  &:not(.disabled):hover {
    background: $Purple-gradient--50;
    cursor: pointer;
    font-weight: 700;
    color: white;
  }

  &.selected {
    &,
    &:hover {
      background: $Purple-gradient;
      color: $dp-cell-selected-color;
      font-weight: $dp-cell-selected-font-weight;

    }
  }

  &.disabled {
    color: $dp-cell-disabled-color;
  }

  &.prev,
  &.next {
    &:not(.disabled) {
      color: $DarkShade-25;

    }
    &:hover {
      color: white;
    }

  }

  &.highlighted:not(.selected):not(.range):not(.today) {
    border-radius: 0;
    background-color: $dp-cell-highlighted-background-color;

    &:not(.disabled):hover {
      background-color: darken($dp-cell-highlighted-background-color, 2.5%);
    }

    &.focused {
      background-color: $dp-cell-focus-background-color;
    }
  }

  &.today {
    &:not(.selected) {
      background: $Green-gradient;
      font-weight: 700;

      &:not(.disabled) {
        color: white;
      }
    }

    &.focused:not(.selected) {
      background: $Green-gradient;
    }
  }

  &%range-start-end-common {
    background-color: $dp-range-start-end-background-color;
    color: $dp-range-start-end-color;
  }

  &%range-start-end-focused-common {
    background-color: darken($dp-range-start-end-background-color, 2.5%);
  }

  &.range-start {
    position: relative;
    background: lighten($Purple, 15%);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    z-index: 1;

    &:after {
      position: absolute;
      content: '';
      border-radius: 50%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: $Purple-gradient;
      z-index: -1;
    }

    &:hover {
      background: lighten($Purple, 15%);
    }

    &:not(.selected) {
      color: white;
    }

    &.focused:not(.selected) {
      @extend %range-start-end-focused-common;
    }
  }

  &.range-end {
    font-weight: 700;
    position: relative;
    background: lighten($Purple, 15%);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    z-index: 1;

    &:before {
      position: absolute;
      content: '';
      border-radius: 50%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: $Purple-gradient;
      z-index: -1;
    }

    &:hover {
      background: lighten($Purple, 15%);
    }

    &:not(.selected) {
      color: white;
    }

    &.focused:not(.selected) {
      @extend %range-start-end-focused-common;
    }
  }

  &.range {
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    z-index: 1;

    &:after {
      border-radius: 0;
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: lighten($Purple, 15%);
      z-index: -1;
    }

    &:hover {
      background-color: $DarkShade-25;
    }

    &:not(.disabled):not(.focused):not(.today):hover {
      background-color: darken($dp-range-background-color, 2.5%);
    }

    &.disabled {
      color: darken($dp-range-background-color, 10%);
    }

    &.focused {
      background-color: darken($dp-range-background-color, 5%);
    }

    @if $dp-range-today-background-color != $dp-cell-today-background-color {
      &.today {
        background-color: $dp-range-today-background-color;
      }
    }
  }

  .datepicker-view .days & {
    @extend %flex-basis-day;
  }

  .datepicker-view.datepicker-grid & {
    @extend %flex-basis-month-year;
    height: $dp-cell-size-base * 2;
    line-height: $dp-cell-size-base * 2;
  }
}

.datepicker-input.in-edit {
  border-color: $dp-input-in-edit-border-color;

  &:focus,
  &:active {
    box-shadow: $dp-input-in-edit-focus-box-shadow-size rgba($dp-input-in-edit-border-color, 0.2);
  }
}
