@charset "UTF-8";
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.visibility-hidden {
  visibility: hidden;
}

.static-pos {
  position: static;
  user-select: none;
  pointer-events: none;
}
.static-pos.datepicker-dropdown {
  position: static;
  padding-top: 0;
}

.--shadow, .dropdown__expand-check:checked ~ .dropdown__exp-list, .dropdown__expand-check:checked ~ .text-field {
  box-shadow: 0 10px 20px #f4f4f6;
}

.text-field.--dropdown, body {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #575871;
}

.room-desc__num.--lux:after, .expandable-list .--check-list, .exp-list__item, .simple-pagination, .button-base, .title-label, .--sizeLikeH3, h3 {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
}

.room-card .room-desc__num, .get-room-form .sum, .--sizeLikeH2, h2 {
  font-size: 19px;
  font-weight: 700;
  line-height: 23px;
  color: #1F2041;
}

.room-desc__num, .--sizeLikeH1, h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #1F2041;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Montserrat, sans-serif;
}
body > section {
  max-width: 1440px;
  margin: auto;
  border-bottom: 1px #c7c7d0 solid;
  position: relative;
}
body > section::before {
  content: url("icons/Logo_grey.svg");
  opacity: 0.25;
  position: absolute;
  top: 30px;
  left: 30px;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}
ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  white-space: nowrap;
}
a:visited, a:link, a:active {
  color: inherit;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.ui-section-colors-type {
  padding: 145px 150px;
  display: flex;
  justify-content: space-between;
}

.colors__item {
  margin-bottom: 20px;
}

.colors__box {
  width: 70px;
  height: 70px;
  background: #6FCF97;
  display: inline-block;
  border-radius: 6px;
  margin-right: 40px;
  vertical-align: middle;
}
.colors__box.--dark100-box {
  background: #1F2041;
}
.colors__box.--dark75-box {
  background: #575871;
}
.colors__box.--dark50-box {
  background: #8f90a0;
}
.colors__box.--dark25-box {
  background: #c7c7d0;
}
.colors__box.--dark5-box {
  background: #f4f4f6;
}
.colors__box.--purple-box {
  background: #BC9CFF;
}
.colors__box.--green-box {
  background: #6FCF97;
}

.colors__desc {
  display: inline-block;
  vertical-align: middle;
}

.colors__name {
  margin-bottom: 5px;
}

.colors__code {
  font-size: 19px;
}

.fonts__item {
  margin-bottom: 50px;
}

.font__use {
  display: inline-block;
  font-weight: 400;
  color: #c7c7d0;
  margin-right: 30px;
  width: 50px;
  text-align: end;
}

.font__desc {
  display: inline-block;
  white-space: normal;
  vertical-align: text-top;
  max-width: 370px;
}

.ui-section-form-elements {
  padding: 140px 140px 130px 140px;
  display: grid;
  grid-template-columns: 266px 54px 1fr 320px 1fr 320px [end];
  grid-template-rows: auto 100px auto 160px auto 225px auto;
}
.ui-section-form-elements > ul {
  margin: 0;
}
.ui-section-form-elements > ul > li {
  position: relative;
}

.ui-fields-list {
  grid-column: 1/3;
  grid-row: 1/2;
  min-width: 320px;
}
.ui-fields-list li:not(:last-child) {
  margin-bottom: 40px;
}
.ui-fields-list li:nth-child(-n+3) {
  margin-bottom: 20px;
}
.ui-fields-list li:nth-child(5) {
  max-height: 70px;
  display: flex;
  align-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}
.ui-fields-list li:nth-child(5) label {
  width: 150px;
}

.title-label {
  display: block;
  margin-bottom: 5px;
}
.title-label--hi {
  margin-bottom: 16px;
}

.label-state {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  font-weight: 400;
  color: #8f90a0;
}

.text-field {
  height: 44px;
  border: 1px #c7c7d0 solid;
  border-radius: 4px;
  width: 100%;
  padding: 0 40px 0 15px;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: visible;
}
.text-field::placeholder {
  color: #c7c7d0;
}
.text-field:hover, .text-field:focus, .text-field.--onFocus {
  border-color: #8f90a0;
  outline: 0;
}
.text-field.--subscription {
  background: url("icons/arrow_forward_subscription.svg") no-repeat calc(100% - 15px) center;
}
.text-field.--onFocus::placeholder {
  color: #575871;
}
.text-field.--dropdown {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  user-select: none;
  background: white url("icons/expand_icon.svg") no-repeat calc(100% - 15px) center;
}
.text-field.--dropdown::placeholder {
  color: #575871;
}

.ui-checkboxes-list {
  grid-column: 4/5;
  grid-row: 1/2;
}
.ui-checkboxes-list > li:not(:last-child) {
  margin-bottom: 40px;
}
.ui-checkboxes-list .toggle-btn {
  margin-bottom: 14px;
}
.ui-checkboxes-list .like-btn {
  margin-right: 10px;
}
.ui-checkboxes-list .stars-rating {
  margin-right: 20px;
}

.check-box-list {
  width: 100%;
}
.check-box-list__item:not(:last-child) {
  margin-bottom: 5px;
}

.check-box {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  color: #8f90a0;
  cursor: pointer;
  transition: all 200ms ease-in;
}
.check-box:hover {
  color: #575871;
}
.check-box:hover .check-box__custom {
  border-color: #8f90a0;
}
.check-box:hover input:checked ~ .check-box__custom {
  opacity: 0.8;
}
.check-box input:checked ~ .check-box__custom {
  border-color: #BC9CFF;
  background: url("icons/chckbox--checked_icon.svg") no-repeat center 40%;
}
.check-box input:focus-visible ~ .check-box__custom {
  outline: 2px black solid;
}
.check-box__custom {
  position: absolute;
  left: 0;
  top: 0.15em;
  width: 20px;
  height: 20px;
  border: 1px #c7c7d0 solid;
  border-radius: 4px;
  transition: all 200ms ease-out;
}

.radio-btn {
  position: relative;
  padding-left: 30px;
  color: #8f90a0;
  cursor: pointer;
  user-select: none;
}
.radio-btn input:checked ~ .radio-btn__custom {
  border-color: #BC9CFF;
}
.radio-btn input:checked ~ .radio-btn__custom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 3px solid transparent;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) padding-box;
}
.radio-btn input:focus-visible ~ .radio-btn__custom {
  outline: 2px black solid;
}
.radio-btn:hover {
  color: #575871;
}
.radio-btn:hover .radio-btn__custom {
  border-color: #8f90a0;
}
.radio-btn:hover input:checked ~ .radio-btn__custom {
  opacity: 0.8;
}
.radio-btn + .radio-btn {
  margin-left: 20px;
}

.radio-btn__custom {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 1px #c7c7d0 solid;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

.toggle-btn {
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  color: #575871;
  display: inline-block;
  user-select: none;
}
.toggle-btn input:checked ~ .toggle-btn__custom {
  border-color: #BC9CFF;
}
.toggle-btn input:checked ~ .toggle-btn__custom::before {
  transition: 0.2s;
  transform: translateX(20px);
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.toggle-btn input:focus-visible ~ .toggle-btn__custom {
  outline: 2px black solid;
}
.toggle-btn:hover {
  opacity: 0.8;
}

.toggle-btn__custom {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 40px;
  height: 20px;
  border: 1px #c7c7d0 solid;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}
.toggle-btn__custom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 3px;
  bottom: 0;
  margin: auto;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #c7c7d0;
  transition: 0.2s;
}

.like-btn {
  position: relative;
  display: inline-block;
  min-width: 40px;
  height: 20px;
  border-radius: 10px;
  text-align: end;
  padding: 0 10px 0 15px;
  font-size: 10px;
  line-height: 20px;
  user-select: none;
  transition: all 200ms ease-in-out;
}
.like-btn__sum {
  color: #c7c7d0;
}
.like-btn__sum:before {
  content: "";
  position: absolute;
  border: 1px #c7c7d0 solid;
  border-radius: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("icons/like-icon.svg") no-repeat 5px center;
}
.like-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.like-btn input:checked ~ .like-btn__sum {
  color: #BC9CFF;
}
.like-btn input:checked ~ .like-btn__sum:before {
  border-color: transparent;
  background-image: url("icons/like--active-icon.svg");
}
.like-btn input:checked ~ .like-btn__sum:after {
  background: linear-gradient(white, white) padding-box, linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) border-box;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 10px;
  border: 1px solid transparent;
}
.like-btn input:focus-visible ~ .like-btn__sum:before {
  outline: 2px black solid;
}

.ui-btns-sliders-list {
  grid-column: 6;
  grid-row: 1;
  min-width: 320px;
}
.ui-btns-sliders-list > li {
  margin-bottom: 40px;
}
.ui-btns-sliders-list .button-base {
  margin: 0 20px 30px 0;
}
.ui-btns-sliders-list .--mini {
  margin: 0 20px 30px 0;
}

.range-slider .title-label--hi {
  display: inline-block;
}
.range-slider .js-range-slider__info {
  float: right;
  font-size: 12px;
  color: #8f90a0;
}

.irs {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px;
  font-family: Arial, sans-serif;
  height: 10px;
}

.irs-line {
  box-sizing: border-box;
  position: relative;
  display: block;
  height: 6px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 3px;
  overflow: hidden;
  outline: none !important;
  cursor: pointer;
}

.irs-bar {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  height: 6px;
  width: 0;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  cursor: pointer;
}

.irs-handle {
  position: absolute;
  display: block;
  height: 14px;
  width: 14px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  top: -4px;
  left: 0;
}
.irs-handle:hover {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-color: #575871;
}

.button-base {
  position: relative;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 22px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  cursor: pointer;
}
.button-base:hover, .button-base.--hover {
  background: linear-gradient(180deg, #deceff 0%, #c5d2fc 100%);
}
.button-base:hover.--empty, .button-base.--hover.--empty {
  background: linear-gradient(white, white) padding-box, linear-gradient(180deg, #deceff 0%, #c5d2fc 100%) border-box;
}
.button-base.--empty {
  background: linear-gradient(white, white) padding-box, linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) border-box;
  border: 2px solid transparent;
  padding: 13px 18px;
  color: #BC9CFF;
}
.button-base.--empty:hover, .button-base.--empty.--hover {
  opacity: 0.8;
}
.button-base.--finish {
  width: 100%;
}
.button-base.--finish:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("icons/arrow_forward--white.svg") no-repeat calc(100% - 12px) center;
}
.button-base.--mini {
  padding: 0;
  background: none;
  color: #BC9CFF;
}
.button-base.--mini:hover, .button-base.--mini.--hover {
  color: #8f90a0;
}
.button-base.--mini:before {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
}

.simple-pagination {
  display: inline-block;
  color: #8f90a0;
  overflow: hidden;
  font-weight: 400;
}
.simple-pagination .disabled {
  display: none;
}
.simple-pagination li {
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  list-style: none;
  float: left;
}
.simple-pagination li.active {
  font-weight: 700;
  color: white;
  border-radius: 50%;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  cursor: pointer;
}
.simple-pagination li.active:hover {
  color: #8f90a0;
}

.page-link,
.current,
.ellipse {
  display: inline-block;
  width: 100%;
  border-radius: 50%;
  user-select: none;
}
.page-link:hover,
.current:hover,
.ellipse:hover {
  background: linear-gradient(180deg, #deceff 0%, #c5d2fc 100%);
  font-weight: bold;
}

.page-link.next {
  color: transparent;
  position: relative;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}
.page-link.next:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("icons/arrow_forward--white.svg") no-repeat center/18px;
}
.page-link.next:hover {
  background: linear-gradient(180deg, #b7e7cb 0%, #b3e9f5 100%);
}

span.ellipse.clickable {
  cursor: pointer;
}

.ellipse input {
  width: 3em;
  outline: 0;
}

.ui-dropdowns-list {
  grid-column: 1/7;
  grid-row: 3;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 266px 54px 1fr 320px 1fr 320px;
}
.ui-dropdowns-list > li:nth-child(-n+2) {
  grid-column: 1/2;
  margin-bottom: 20px;
}
.ui-dropdowns-list > li:nth-child(3) {
  grid-column: 4/5;
  grid-row: 1;
}
.ui-dropdowns-list > li:last-child {
  grid-column: 6;
  grid-row: 1;
}

.dropdown {
  position: relative;
}
.dropdown.--for-people .dropdown__exp-list .exp-list__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.dropdown__expand-check:checked ~ .text-field {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #8f90a0;
  border-bottom-color: transparent;
}
.dropdown__expand-check:checked ~ .--dropdown {
  background-image: url("icons/expand_more.svg");
}
.dropdown__expand-check:checked ~ .dropdown__exp-list {
  display: revert;
}
.dropdown__expand-check:focus ~ .text-field {
  border-color: #8f90a0;
}

.dropdown__exp-list {
  background: white;
  display: none;
  position: absolute;
  border: 1px solid #8f90a0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  left: 0;
  right: 0;
  top: calc(100% - 1px);
  padding: 7px 7px 7px 15px;
  z-index: 1;
  margin: 0;
}
.dropdown__exp-list li:not(:last-child) {
  margin-bottom: 7px;
}

.exp-list__item {
  line-height: 30px;
}
.exp-list__item .exp-list__count {
  float: right;
}

.exp-list__count {
  display: inline-block;
}

.count__input {
  padding: 0;
  outline: none;
  text-align: center;
  width: 2em;
  font: inherit;
  border: 0;
}

.count__btn-minus,
.count__btn-plus {
  vertical-align: bottom;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid #c7c7d0;
  color: #8f90a0;
  border-radius: 50%;
  background: none;
  font-size: 18px;
  transition: 200ms all ease-in-out;
}
.count__btn-minus:hover:not(.count__btn-minus:disabled,
.count__btn-plus:disabled),
.count__btn-plus:hover:not(.count__btn-minus:disabled,
.count__btn-plus:disabled) {
  background: #c7c7d0;
  color: #f4f4f6;
  border: none;
  transform: rotateZ(360deg);
}
.count__btn-minus:disabled,
.count__btn-plus:disabled {
  color: #c7c7d0;
  border-color: #f4f4f6;
}

.ui-expandable-list {
  grid-column: 1;
  grid-row: 5;
}
.ui-expandable-list > li + li {
  margin-top: 20px;
}

.expandable-list {
  position: relative;
}
.expandable-list .--check-list {
  border: none;
  padding: 0;
}
.expandable-list .--check-list:hover {
  color: #8f90a0;
}
.expandable-list[open] .--dropdown {
  background-image: url(icons/expand_more.svg);
}
.expandable-list:focus-visible {
  outline: 2px solid;
}
.expandable-list .check-box-list {
  position: absolute;
  background: white;
}

.ui-rich-checkboxes-list {
  grid-column: 4/5;
  grid-row: 5;
}
.ui-rich-checkboxes-list > :first-child {
  margin-top: 1em;
}
.ui-rich-checkboxes-list .check-box-list {
  max-width: 266px;
}

.check-box.--rich {
  font-weight: bold;
  color: #575871;
}
.check-box.--rich:hover {
  color: #8f90a0;
}
.check-box .check-box__desc {
  font-size: 12px;
  line-height: 14px;
  font-weight: initial;
  color: #8f90a0;
  margin-top: 5px;
  margin-bottom: 0;
}

.ui-bullets-list {
  grid-column: 6;
  grid-row: 5;
}
.ui-bullets-list > :first-child {
  margin-top: 1em;
}
.ui-bullets-list .bullet-list {
  max-width: 266px;
}

.bullet-list__item {
  position: relative;
  padding-left: 21px;
}
.bullet-list__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.5em;
  width: 10px;
  height: 10px;
  background-color: #c7c7d0;
  border-radius: 50%;
}
.bullet-list__item + .bullet-list__item {
  margin-top: 10px;
}

.ui-bonuses-list {
  grid-column: 1/2;
  grid-row: 7;
}
.ui-bonuses-list .bonuses-item:last-child {
  border-bottom: 1px solid #e9e9ec;
}

.bonuses-list .bonuses-item {
  padding: 20px 0;
}
.bonuses-list .bonuses-item + .bonuses-item {
  border-top: 1px solid #e9e9ec;
}

.bonuses-item {
  position: relative;
  display: grid;
  min-height: 48px;
  grid-column-gap: 10px;
  grid-template-columns: 48px auto;
  grid-template-areas: "icon title" "icon desc";
}
.bonuses-item__icon {
  grid-area: icon;
  height: 40px;
  width: auto;
  align-self: center;
  justify-self: center;
}
.bonuses-item__title {
  grid-area: title;
  font-weight: 700;
}
.bonuses-item__desc {
  grid-area: desc;
}

.ui-comments-list {
  grid-column: 4/end;
  grid-row: 7;
}
.ui-comments-list > :first-child {
  margin-top: 1em;
}

.comment {
  display: grid;
  grid-template-areas: "avatar name" "avatar date" "like text";
  grid-column-gap: 10px;
}
.comment__avatar {
  position: relative;
  width: 48px;
  height: 48px;
  grid-area: avatar;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.1);
  margin-bottom: 10px;
  border-radius: 50%;
  border: 2px solid white;
}
.comment__avatar > * {
  clip-path: circle(calc(50.0% - 2px) at 50% 50%);
  transform: translateY(-2px) translateX(-2px);
}
.comment__who {
  font-weight: 700;
  grid-area: name;
}
.comment__date {
  grid-area: date;
  margin-bottom: 10px;
}
.comment__likes {
  justify-self: center;
  grid-area: like;
}
.comment__text {
  margin: 0;
  grid-area: text;
}

.ui-section-cards {
  max-height: 1400px;
  width: 1440px;
  display: flex;
  flex-flow: column;
  gap: 40px;
  flex-wrap: wrap;
  align-items: start;
  align-content: start;
  justify-items: start;
  justify-content: start;
  background: #F4F4F6;
  padding: 150px 140px 140px 140px;
}

.form-card {
  width: 380px;
  padding: 40px 30px 30px 30px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.form-card fieldset {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  border: 0;
}
.form-card > * + * {
  margin-top: 1.44em;
}
.form-card > :last-child {
  margin-top: 2.16em;
}

.dates-dropdowns input {
  margin-top: 5px;
}
.dates-dropdowns input:focus {
  background: url(icons/expand_more.svg) no-repeat calc(100% - 15px) center;
}
.dates-dropdowns > * {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.dates-dropdowns > * > * {
  margin: 0;
  flex: 1 1 145px;
}

.reg-account-form input:not(:last-child) {
  margin-bottom: 10px;
}

.have-acc {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.have-acc__text:hover {
  opacity: 0.8;
}

.room-desc {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.room-desc__num:before {
  content: "№ ";
  font-size: 14px;
  line-height: 17px;
}
.room-desc__num.--lux:after {
  content: "люкс";
  margin-left: 0.7em;
  color: #BC9CFF;
  user-select: auto;
}
.room-desc__price {
  font-weight: 700;
  color: #8f90a0;
}
.room-desc__price:after {
  content: " в сутки";
  font-weight: initial;
  font-size: 12px;
}

.get-room-form__calc > li {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  line-height: 18px;
}
.get-room-form__calc > li .--info-btn {
  flex: 0 1 240px;
  padding-right: 25px;
  position: relative;
}
.get-room-form__calc > li .--info-btn:after {
  content: "i";
  position: absolute;
  font-weight: bold;
  color: #c7c7d0;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #c7c7d0;
  border-radius: 50%;
}
.get-room-form__calc > li + li {
  margin-top: 18px;
}
.get-room-form .sum {
  margin-top: 30px;
  font-size: 20px;
  line-height: 1.2;
}
.get-room-form .sum .--underline-after {
  flex-grow: 1;
  display: inline-flex;
}
.get-room-form .sum .--underline-after:after {
  content: "";
  margin: 0 0.1em;
  flex-grow: 1;
  height: calc(100% - .2em);
  border-bottom: 1px dotted #c7c7d0;
}
.get-room-form > :last-child {
  margin-top: 20px;
}

.enter-acc-form .text-field + .text-field {
  margin-top: 10px;
}

.calendar {
  min-height: 200px;
  position: relative;
}

.room-card {
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  position: relative;
}
.room-card:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}
.room-card__link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.room-card__img {
  width: 270px;
  height: 152px;
  overflow: hidden;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  position: relative;
}
.room-card__img img {
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}
.room-card .glider-contain {
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  position: relative;
}
.room-card .glider-contain:hover .glider-btn-prev,
.room-card .glider-contain:hover .glider-btn-next {
  opacity: 0.8;
}
.room-card .glider-contain .glider {
  border-radius: inherit;
}
.room-card .glider-contain .glider-btn-prev,
.room-card .glider-contain .glider-btn-next {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 42px;
  background: url("icons/expand_more--right--white.svg") no-repeat center, linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
}
.room-card .glider-contain .glider-btn-prev:hover,
.room-card .glider-contain .glider-btn-next:hover {
  opacity: 1;
}
.room-card .glider-contain .glider-btn-prev {
  left: 0;
  transform: rotateZ(180deg);
}
.room-card .glider-contain .glider-btn-next {
  right: 0;
}
.room-card .glider-contain .dots {
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.room-card .glider-contain .glider-dot {
  width: 8px;
  height: 8px;
  background: transparent;
  border: 1px solid white;
  margin: 0;
  box-shadow: 0 5px 5px rgba(31, 32, 65, 0.3);
}
.room-card .glider-contain .glider-dot.active {
  background: white;
}
.room-card .glider-contain .glider-dot + .glider-dot {
  margin-left: 4px;
}
.room-card__info {
  padding: 20px 15px 20px 20px;
  color: #8f90a0;
}
.room-card__info > :not(:first-child) {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #e9e9ec;
}
.room-card__info > * {
  display: flex;
  justify-content: space-between;
}
.room-card .stars-rating {
  pointer-events: none;
}
.room-card .room-desc__num:after {
  display: none;
}
.room-card.--lux .room-desc__num:after {
  display: inline;
  margin-left: 0.2em;
}

.ui-section-headers-footers {
  padding: 140px 0;
  background: #F4F4F6;
}
.ui-section-headers-footers .header {
  padding: 0 140px;
}
.ui-section-headers-footers > * {
  margin-bottom: 40px;
}

.header {
  background: white;
  display: inline-flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  height: 70px;
}
.header .logo-toxin {
  margin-right: auto;
  width: 106px;
  height: 40px;
}
.header .logo-toxin svg {
  width: inherit;
  height: inherit;
}
.header .logo-toxin:hover {
  opacity: 0.8;
}
.header nav {
  height: inherit;
}
.header .nav {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 5px;
}
.header .nav__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: #8f90a0;
}
.header .nav__item:hover, .header .nav__item.--hover, .header .nav__item:focus-within {
  color: #575871;
  font-weight: 700;
}
.header .nav__item:hover.--expand, .header .nav__item.--hover.--expand, .header .nav__item:focus-within.--expand {
  background-image: url("icons/expang_more-black.svg");
}
.header .nav__item:hover.--expand .nav-expand-list, .header .nav__item.--hover.--expand .nav-expand-list, .header .nav__item:focus-within.--expand .nav-expand-list {
  display: flex;
}
.header .nav__item > a {
  padding: 0.5rem 5px;
}
.header .nav__item::after {
  content: attr(data-text);
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: 700;
  padding: 0 5px;
}
.header .nav__item.--expand {
  padding: 0.5rem 1.25em 0.5rem 0;
  background: url("icons/expand_icon.svg") no-repeat calc(100% - 4px) 55%/1em;
}
.header .nav__item.--expand .nav-expand-list {
  box-sizing: content-box;
  position: absolute;
  background: white;
  top: 100%;
  min-width: 100%;
  left: -1em;
  padding: 0 1em 0.5em;
  display: none;
  flex-direction: column;
  z-index: 1;
}
.header .nav__item.--expand .nav-expand-list__item {
  white-space: nowrap;
  font-weight: initial;
}
.header .nav__item.--expand .nav-expand-list__item a:hover, .header .nav__item.--expand .nav-expand-list__item a:focus-visible {
  font-weight: 700;
}
.header .nav__item.--expand .nav-expand-list a {
  display: block;
  padding: 0.5em 5px;
}
.header .login-name-link, .header .header__vertical-line {
  display: none;
}
.header.header--login > button {
  display: none;
}
.header.header--login .login-name-link {
  display: flex;
  padding: 0.5rem 0;
}
.header.header--login .header__vertical-line {
  color: transparent;
  user-select: none;
  display: block;
  width: 1px;
  height: calc(100% - 40px);
  background: #e9e9ec;
}

/*# sourceMappingURL=style.css.map */
